body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1 {
    margin-top: 20px;
}

#board {
    display: block;
    margin: 20px auto;
    background-color: lightgray;
    border: 1px solid black;
    width: 750px;
    height: 250px;
}
